---
openapi: 3.0.2
info:
  title: Location Service
  version: '1.0'
  description: Location is a routing service to global MDM service to fetch store
    information.
servers:
  - url: https://locapi-p-ca.prod01.gbs.ase.southcentralus.us.walmart.net/
    description: Production server for Canada at south central US.
  - url: https://locapi-p-us.prod01.gbs.ase.southcentralus.us.walmart.net/
    description: Production server for US at south central US
  - url: https://locapi-q-us.dev01.gbs.ase.southcentralus.us.walmart.net/
    description: QA server for US at south central US.
  - url: https://locapi-q-ca.dev01.gbs.ase.southcentralus.us.walmart.net/
    description: QA server for Canada at south central US
  - url: https://locapi-s-us.dev02.gbs.ase.southcentralus.us.walmart.net/
    description: Staging server for US at south central US.
  - url: https://locapi-s-us.dev01.gbs.ase.eastus2.us.walmart.net/
    description: Staging server for US at east US
  - url: https://locapi-s-ca.dev02.gbs.ase.southcentralus.us.walmart.net/
    description: Staging server for Canada at south central US.
  - url: https://locapi-s-ca.dev01.gbs.ase.eastus2.us.walmart.net/
    description: Staging server for Canada at east US
  - url: https://locapi-p-us.prod01.gbs.ase.eastus2.us.walmart.net/
    description: Production server for US at east US.
  - url: https://locapi-p-ca.prod01.gbs.ase.eastus2.us.walmart.net/
    description: Production server for Canada at east US.
paths:
  "/{countryCode}/location":
    summary: Represents stores information in a country.
    description: Represents stores information in a country.
    get:
      tags:
        - location-controller
      parameters:
        - examples:
            Canada:
              value: CA
            USA:
              value: US
          name: countryCode
          description: Standard country code. Example US = USA, CA = Canada
          schema:
            type: string
          in: path
          required: true
        - name: f
          description: 'Comma separated list of fields that will be returned in the
          response. For example: f=locationNbr,name'
          schema:
            type: string
          in: query
          required: false
        - name: offset
          description: Zero based index of number of records to skip from start. If
            not mentioned, it is considered zero.
          schema:
            format: int64
            type: integer
          in: query
          required: false
        - name: page
          description: Results page you want to retrieve (0..N). If offset is specified,
            it will be considered too. If not specified, all pages in the result set
            will be considered.
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - name: pageNumber
          description: Zero based index of page to fetch. If offset is provided, that
            too will be considered.
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - name: pageSize
          description: Specifies number of records per page.
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - name: paged
          description: Pass 'true' to request paged information.
          schema:
            type: boolean
          in: query
          required: false
        - name: size
          description: Specifies total/max number of records to fetch.
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - style: form
          explode: true
          name: sort
          description: 'Sorting criteria in the format: property(,asc|desc). Default
          sort order is ascending. Multiple sort criteria are supported.'
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: sort.sorted
          description: If passed 'true', the sorting criteria mentioned in parameter
            'sort' is applied.
          schema:
            type: boolean
          in: query
          required: false
        - name: sort.unsorted
          schema:
            type: boolean
          in: query
          required: false
        - name: unpaged
          schema:
            type: boolean
          in: query
          required: false
        - examples:
            Name of the producer application:
              value: AP-FDS-LOCATIONS-API
          name: WM_SVC.NAME
          description: "Unique name ( application key name) of the producer application
          as registered in the service registry portal \n( https://reg.soa.walmart.com).\nConsumer
          applications have to get a subscription to this producer application in
          the service registry portal.\nThe actual producer application will have
          a sidecar deployment of service mesh proxy along with it.\nHence all the
          consumers need to pass the mandatory headers and get authorization and authentication
          to reach the application.\n\nThis header is required in all the environments."
          schema:
            type: string
          in: header
          required: true
        - examples:
            Environment name of the producer application:
              value: prod
          name: WM_SVC.ENV
          description: |
            Name of the environment of the producer application in the service registry portal to which consumer application is subscribed to.
            For each environment which has to be deployed, an environment is created in service registry portal and same is used to configure the sidecar proxy deployment.
            As the subscription in service mesh is environment specific; this is a mandatory parameter in all the environments.

            Note:
            Consumers have to pass enviroments according to their subscription. For example if the dev environment of the consumer application is having a subscription to stage environment of the producer application; then only from dev environment of the consumer application stage environment of the producer can be called by passing the WM_SVC.ENV value as stage.
          schema:
            type: string
          in: header
          required: true
        - examples:
            Consumer Id of consumer application in a specific environment:
              value: 3fa1e5b2-6c55-4d0f-8ae5-634dbbb723432
          name: WM_CONSUMER.ID
          description: |
            Consumer Id in the consumer application from which it has a subscription to the environment (value of WM_SVC.ENV) of the producer application.

            Consumer Id can be created in the service registry portal with ssh public key.
            A unique string will be generated for the given public key.

            If a consumer application in dev environment(with consumer Id = 3fa1e5b2-6c55-4d0f-8ae5-634dbbb723242) have a subscription to stage environment of the producer application ( AP-FDS-LOCATIONS-API), then there will be an entry created in the service registry database as AP-FDS-LOCATIONS-API/stage/3fa1e5b2-6c55-4d0f-8ae5-634dbbb723242

            Hence when the consumer pass these 3 headers, it will match with the entry in the database; hence the request will be authorized.

            This is a mandatory header in all the environments.
          schema:
            type: string
          in: header
          required: true
        - examples:
            Version of the consumer Id:
              value: '1'
          name: WM_SEC.KEY_VERSION
          description: |-
            Key version of the consumer Id as per the service registry portal.
            This is autogenerated field when consumer Id is created.

            This is a mandatory header in stage & prod environments as the signature authentication is in place.
          schema:
            type: integer
          in: header
          required: true
        - examples:
            Timestamp at the time of signature generation:
              value: '1596901065233'
          name: WM_CONSUMER.INTIMESTAMP
          description: |-
            Timestamp in epoch at the time of signature generation.
            As the generated signature expires every 5 mins, timestamp field has to be passed with the signature for the validation.

            This is a mandatory field for stage & prod environments as the signature authentication is in place.
          schema:
            type: integer
          in: header
          required: true
        - examples:
            Sample signature:
              value: jMXoVjlgcSTwSifCzQ1CM88/ZtzIG49Ec2xy5yUWKfh/42+XN8U9ROd/kj6W/kRqWoU+vtZQrkSovyaV6WkxqK62AGjqXmiVqcyfRZmmrOne80QlrJ2j7MjXv+rhoYf0qvGCTu1S3xMsLN3rh0FtoM4v6TO/Iy7C+RqOxCx7C39NWzsfQlzix7WdxRk59ancuULqo3bL5fF2JfjubLDoD5zahtIBF1amDJFco/e1MOQ1Zamf6HGxMZI20epq0m1CCcEGhFh+kDpniyKbPVsG5EEaAmrCMpvGvrk4ZR+lKvb3J1Flkt4dmDYgknoR1QVqEH9vx6LAZef6phM46aTFiQ==
          name: WM_SEC.AUTH_SIGNATURE
          description: |-
            Generated signature for authentication.
            Signature is generated based on private key, consumer Id and the key version.

            As the public key is available in service registry portal ( as we have generated consumer Id by submitting ssh public key), generated signature will be decoded by public key and validated using RSA algorithm.
            Signature will be valid for 5 mins, so that after every 5 mins signature should be regenerated for the new requests.

            This is a mandatory header to be passed in stage & prod environments as the signature authetication is in place.
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LocationResponse"
              examples:
                Location:
                  value:
                    success: true
                    timestamp: '2020-10-06 11:22:38'
                    data:
                      - id: US1526
                        locationNbr: 1526
                        name: STORM LAKE IA
                        openDate: '1990-04-02'
                        streetAddress: 1831 LAKE AVE
                        city: STORM LAKE
                        stateProvinceCode: IA
                        stateProvinceId: 15
                        stateProvince: IOWA
                        postalCode: 50588-7606
                        country: US
                        timeZoneId: America/Chicago
                        timeZoneCode: CDT
                        glnNumbers:
                          - '0078742014937'
                        timeZoneDSTObservable: true
                        logisticalCountryCode: US
                        type: Retail
                        typeCode: 100001
                        statusCode: 5
                        status: OLD, MORE THAN 13 MONTHS SINCE RE-GRAND
                        buID: 295634
                        tempStoreFlag: false
                        languageCode: 101
                        bannerCode: A1
                        bannerDesc: WM Supercenter
                        currencyCode: USD
                        replenishmentTypeCode: U
                        phoneNbr: '7127327940'
                        baseDivisionCode: 1
                        homeStoreNbr: 1361
                        isSalesCompable: true
                        isOpenSunday: true
                        merchandiseMajorZoneNbr: 80
                        merchandiseSubZoneNbr: 85
                        expansionSize: 65930
                        grossSize: 157131
                        lastUpdatedUser: RDC_LOAD
                        marketName: RETAIL MARKET 426
                        regionName: NE/ IA/ NE KS
                        latitude: 42.663322
                        longitude: -95.197507
                        formatDescription: Hypermarket
                        divisions:
                          - divisionNbr: 1
                            divisionDesc: WAL-MART STORES INC.
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '1990-03-31'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 2
                                departmentDesc: HEALTH & BEAUTY AIDS
                              - departmentNbr: 3
                                departmentDesc: STATIONERY & PARTY GOODS
                              - departmentNbr: 4
                                departmentDesc: PAPER GOODS
                              - departmentNbr: 5
                                departmentDesc: MEDIA & GAMING
                              - departmentNbr: 7
                                departmentDesc: TOYS & HOBBIES
                              - departmentNbr: 8
                                departmentDesc: PETS & SUPPLIES
                              - departmentNbr: 9
                                departmentDesc: SPORTING GOODS
                              - departmentNbr: 11
                                departmentDesc: HARDWARE
                              - departmentNbr: 12
                                departmentDesc: PAINT & ACCESS
                              - departmentNbr: 13
                                departmentDesc: HOUSEHOLD CHEMICALS
                              - departmentNbr: 14
                                departmentDesc: COOK & DINE
                              - departmentNbr: 16
                                departmentDesc: LAWN & GARDEN
                              - departmentNbr: 17
                                departmentDesc: CANDLES/HOME DECOR
                              - departmentNbr: 18
                                departmentDesc: SEASONAL
                              - departmentNbr: 19
                                departmentDesc: FABRICS & CRAFTS
                              - departmentNbr: 20
                                departmentDesc: BATH & SHOWER
                              - departmentNbr: 21
                                departmentDesc: BOOK & MAGAZINES
                              - departmentNbr: 22
                                departmentDesc: BEDDING
                              - departmentNbr: 23
                                departmentDesc: MENS WEAR
                              - departmentNbr: 24
                                departmentDesc: BOYS WEAR
                              - departmentNbr: 26
                                departmentDesc: INFANTS WEAR
                              - departmentNbr: 27
                                departmentDesc: SOCKS
                              - departmentNbr: 28
                                departmentDesc: HOSIERY
                              - departmentNbr: 29
                                departmentDesc: LADIES UNDERWEAR
                              - departmentNbr: 30
                                departmentDesc: FOUNDATIONS
                              - departmentNbr: 31
                                departmentDesc: FASHION, ACCESS & LUGGAGE
                              - departmentNbr: 33
                                departmentDesc: GIRLS WEAR
                              - departmentNbr: 34
                                departmentDesc: MISSY, ACTIVE & JUNIOR APPAREL
                              - departmentNbr: 35
                                departmentDesc: PLUS SIZES/MATERNITY
                              - departmentNbr: 36
                                departmentDesc: OUTWEAR &SWIMWEAR
                              - departmentNbr: 39
                                departmentDesc: ROADSHOWS
                              - departmentNbr: 46
                                departmentDesc: BEAUTY CARE
                              - departmentNbr: 56
                                departmentDesc: LIVE PLANTS
                              - departmentNbr: 60
                                departmentDesc: STAMPS, BUILD A BEAR, KIDS CONNECT
                              - departmentNbr: 67
                                departmentDesc: CELEBRATION
                              - departmentNbr: 69
                                departmentDesc: DOT COM
                              - departmentNbr: 71
                                departmentDesc: LARGE FURNITURE
                              - departmentNbr: 72
                                departmentDesc: CONSUMER ELECTRONICS
                              - departmentNbr: 74
                                departmentDesc: HOME MANAGEMENT
                              - departmentNbr: 77
                                departmentDesc: LARGE APPLIANCES
                              - departmentNbr: 78
                                departmentDesc: PURCHASES
                              - departmentNbr: 79
                                departmentDesc: INFANT CONSUMABLE HARDLINES
                              - departmentNbr: 82
                                departmentDesc: IMPULSE MERCHANDISING
                              - departmentNbr: 86
                                departmentDesc: FINANCIAL SERVICES
                          - divisionNbr: 3
                            divisionDesc: PMDC/RETAIL LEASED
                            typeCode: 2
                            type: EXPENSE DIVISION
                            openDate: '1990-04-02'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                          - divisionNbr: 4
                            divisionDesc: CONSTRUCTION COMPANY
                            typeCode: 2
                            type: EXPENSE DIVISION
                            openDate: '1990-04-02'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 4
                            subDivisionCode: M
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: WK
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                          - divisionNbr: 6
                            divisionDesc: AUTO CARE CENTER
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2002-09-11'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 10
                                departmentDesc: AUTOMOTIVE TEST
                              - departmentNbr: 37
                                departmentDesc: AUTO CARE CENTER SERVICE
                          - divisionNbr: 8
                            divisionDesc: SAM'S CAFES
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '1990-03-31'
                            statusCode: 2
                            regionCode: 51
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 99
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: N
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                          - divisionNbr: 10
                            divisionDesc: PHARMACY
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '1990-03-31'
                            statusCode: 1
                            regionCode: 52
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: E
                            subDivisionName: US Retail Pharmacy SUBDIV North BU
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 38
                                departmentDesc: PRESCRIPTION MERCHANDISE
                              - departmentNbr: 40
                                departmentDesc: OTC PURCHASES
                          - divisionNbr: 11
                            divisionDesc: JEWELRY
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '1990-03-31'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 32
                                departmentDesc: JEWELRY, SUNGLASSES
                              - departmentNbr: 47
                                departmentDesc: JEWELRY
                          - divisionNbr: 15
                            divisionDesc: WAL-MART SHOES
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '1990-03-31'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 25
                                departmentDesc: SHOES
                          - divisionNbr: 24
                            divisionDesc: MEAT
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2003-05-21'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 80
                                departmentDesc: SERVICE DELI
                              - departmentNbr: 83
                                departmentDesc: SEAFOOD
                              - departmentNbr: 93
                                departmentDesc: MEAT & SEAFOOD
                              - departmentNbr: 97
                                departmentDesc: DELI
                          - divisionNbr: 25
                            divisionDesc: PRODUCE
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2002-11-01'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 84
                                departmentDesc: FLORAL
                              - departmentNbr: 94
                                departmentDesc: PRODUCE
                          - divisionNbr: 26
                            divisionDesc: DAIRY/FROZEN
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2002-11-01'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 90
                                departmentDesc: DAIRY
                              - departmentNbr: 91
                                departmentDesc: FROZEN FOODS
                          - divisionNbr: 27
                            divisionDesc: BREAD/BAKERY
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2002-11-01'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 81
                                departmentDesc: COMMERCIAL BREAD
                              - departmentNbr: 98
                                departmentDesc: BAKERY
                          - divisionNbr: 28
                            divisionDesc: GROCERY
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2002-11-01'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 1
                                departmentDesc: CANDY, TOBACCO
                              - departmentNbr: 92
                                departmentDesc: GROCERY
                              - departmentNbr: 95
                                departmentDesc: DSD GROCERY
                              - departmentNbr: 96
                                departmentDesc: LIQUOR
                          - divisionNbr: 30
                            divisionDesc: OPTICAL CENTER
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2003-05-21'
                            statusCode: 1
                            regionCode: 52
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: E
                            subDivisionName: US Retail Optical SUBDIV North BU
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 49
                                departmentDesc: OPTICAL
                              - departmentNbr: 50
                                departmentDesc: OPTICAL SERVICE
                              - departmentNbr: 75
                                departmentDesc: DR'S FEES
                          - divisionNbr: 31
                            divisionDesc: PHOTO CENTERS
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2003-04-04'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 6
                                departmentDesc: CAMERAS
                              - departmentNbr: 85
                                departmentDesc: 1-HOUR PHOTO
                          - divisionNbr: 41
                            divisionDesc: REAL ESTATE CLOSED STORES
                            typeCode: 2
                            type: EXPENSE DIVISION
                            openDate: '1990-03-31'
                            statusCode: 2
                            regionCode: 51
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: N
                            reportCode: WK
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                          - divisionNbr: 45
                            divisionDesc: CONNECTIVITY CENTERS
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '2010-03-01'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 17
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 3
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 58
                                departmentDesc: WIRELESS SERVICE INC
                              - departmentNbr: 87
                                departmentDesc: WIRELESS
                          - divisionNbr: 53
                            divisionDesc: WAL-MART REAL ESTATE
                            typeCode: 2
                            type: EXPENSE DIVISION
                            openDate: '2003-05-21'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WR
                            taxReportCode: 310
                            reportCode: WR
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                          - divisionNbr: 55
                            divisionDesc: WAL-MART REIT CLOSED
                            typeCode: 2
                            type: EXPENSE DIVISION
                            openDate: '1990-03-31'
                            statusCode: 2
                            regionCode: 51
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: N
                            companyCode: WR
                            taxReportCode: 310
                            reportCode: WR
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                        associates:
                          - firstName: JOSEPH
                            lastName: " CLAREY"
                            role: MGMT-STORE MANAGER
                            email: J0C04I9.S01526.US@WAL-MART.COM
                            fullName: JOSEPH CLAREY
                          - firstName: LISA DE
                            lastName: " BOER"
                            role: MGMT-MARKET MANAGER
                            email: LDEBOER@WALMART.COM
                            fullName: LISA DE BOER
                          - firstName: GREGORY
                            lastName: " LUNDELL"
                            role: MGMT-REGIONAL MANAGER - AP
                            email: GREGORY.LUNDELL@WALMART.COM
                            fullName: GREGORY LUNDELL
                        mainWarehouse: 6009
                        lastUpdatedDate: '2020-10-01'
                        lastUpdatedTimestamp: '2020-09-29'
          description: Successfully returns Stores information for the given country
            code and search criteria like locationNbr, name, etc.
        '204':
          description: No Content is returned when there is no data for the given
            country code and search criteria like locationNbr, name, etc.
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
          description: Bad Request is returned when one or many given criteria are
            of wrong data type or value.
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
          description: Internal Server Error is returned in case there is a connectivity
            issue with the dependent resource or the dependent resource itself throws
            some exception.
      deprecated: false
      operationId: getAllLocationsUsingGET
      summary: Fetches all stores information in a given country.
      description: Fetch all stores information using country code.
  "/{countryCode}/location/centerManaged":
    summary: Represents stores information in a country based on Centre Managed Flag
    description: Represents stores information in a country based on Centre Managed
      Flag
    get:
      tags:
        - location-controller
      parameters:
        - examples:
            Canada:
              value: CA
            USA:
              value: US
          name: countryCode
          description: Standard country code. Example US = USA, CA = Canada
          schema:
            type: string
          in: path
          required: true
        - name: flag
          description: Flag to indicate whether it is Centre Managed or not. 0 for No
            and 1 for Yes
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - examples:
            Name of the producer application:
              value: AP-FDS-LOCATIONS-API
          name: WM_SVC.NAME
          description: "Unique name ( application key name) of the producer application
          as registered in the service registry portal \n( https://reg.soa.walmart.com).\nConsumer
          applications have to get a subscription to this producer application in
          the service registry portal.\nThe actual producer application will have
          a sidecar deployment of service mesh proxy along with it.\nHence all the
          consumers need to pass the mandatory headers and get authorization and authentication
          to reach the application.\n\nThis header is required in all the environments."
          schema:
            type: string
          in: header
          required: true
        - examples:
            Environment name of the producer application:
              value: prod
          name: WM_SVC.ENV
          description: |
            Name of the environment of the producer application in the service registry portal to which consumer application is subscribed to.
            For each environment which has to be deployed, an environment is created in service registry portal and same is used to configure the sidecar proxy deployment.
            As the subscription in service mesh is environment specific; this is a mandatory parameter in all the environments.

            Note:
            Consumers have to pass enviroments according to their subscription. For example if the dev environment of the consumer application is having a subscription to stage environment of the producer application; then only from dev environment of the consumer application stage environment of the producer can be called by passing the WM_SVC.ENV value as stage.
          schema:
            type: string
          in: header
          required: true
        - examples:
            Consumer Id of consumer application in a specific environment:
              value: 3fa1e5b2-6c55-4d0f-8ae5-634dbbb723432
          name: WM_CONSUMER.ID
          description: |
            Consumer Id in the consumer application from which it has a subscription to the environment (value of WM_SVC.ENV) of the producer application.

            Consumer Id can be created in the service registry portal with ssh public key.
            A unique string will be generated for the given public key.

            If a consumer application in dev environment(with consumer Id = 3fa1e5b2-6c55-4d0f-8ae5-634dbbb723242) have a subscription to stage environment of the producer application ( AP-FDS-LOCATIONS-API), then there will be an entry created in the service registry database as AP-FDS-LOCATIONS-API/stage/3fa1e5b2-6c55-4d0f-8ae5-634dbbb723242

            Hence when the consumer pass these 3 headers, it will match with the entry in the database; hence the request will be authorized.

            This is a mandatory header in all the environments.
          schema:
            type: string
          in: header
          required: true
        - examples:
            Version of the consumer Id:
              value: '1'
          name: WM_SEC.KEY_VERSION
          description: |-
            Key version of the consumer Id as per the service registry portal.
            This is autogenerated field when consumer Id is created.

            This is a mandatory header in stage & prod environments as the signature authentication is in place.
          schema:
            type: integer
          in: header
          required: true
        - examples:
            Timestamp at the time of signature generation:
              value: '1596901065233'
          name: WM_CONSUMER.INTIMESTAMP
          description: |-
            Timestamp in epoch at the time of signature generation.
            As the generated signature expires every 5 mins, timestamp field has to be passed with the signature for the validation.

            This is a mandatory field for stage & prod environments as the signature authentication is in place.
          schema:
            type: integer
          in: header
          required: true
        - examples:
            Sample signature:
              value: jMXoVjlgcSTwSifCzQ1CM88/ZtzIG49Ec2xy5yUWKfh/42+XN8U9ROd/kj6W/kRqWoU+vtZQrkSovyaV6WkxqK62AGjqXmiVqcyfRZmmrOne80QlrJ2j7MjXv+rhoYf0qvGCTu1S3xMsLN3rh0FtoM4v6TO/Iy7C+RqOxCx7C39NWzsfQlzix7WdxRk59ancuULqo3bL5fF2JfjubLDoD5zahtIBF1amDJFco/e1MOQ1Zamf6HGxMZI20epq0m1CCcEGhFh+kDpniyKbPVsG5EEaAmrCMpvGvrk4ZR+lKvb3J1Flkt4dmDYgknoR1QVqEH9vx6LAZef6phM46aTFiQ==
          name: WM_SEC.AUTH_SIGNATURE
          description: |-
            Generated signature for authentication.
            Signature is generated based on private key, consumer Id and the key version.

            As the public key is available in service registry portal ( as we have generated consumer Id by submitting ssh public key), generated signature will be decoded by public key and validated using RSA algorithm.
            Signature will be valid for 5 mins, so that after every 5 mins signature should be regenerated for the new requests.

            This is a mandatory header to be passed in stage & prod environments as the signature authetication is in place.
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SuccessCenterManagedResponse"
              examples:
                Centre Managed Flag = 1:
                  value:
                    success: true
                    timestamp: '2020-10-06 12:31:44'
                    data:
                      totalStores: 1120
                      storeNumberList:
                        - 1175
                        - 2297
                        - 2304
                        - 2315
                        - 2326
                        - 2333
                        - 2397
                        - 3038
                        - 3070
                        - 3178
                        - 3183
                        - 3194
                        - 3198
                        - 3202
                        - 3204
                        - 4530
                        - 320
                        - 5896
                        - 6098
                        - 5876
                        - 5875
                        - 5878
                        - 7283
                        - 7287
                        - 7297
                        - 6078
                        - 6707
                        - 6728
                        - 6732
                        - 6741
                        - 7168
                        - 4527
                        - 4546
                        - 3042
                        - 3046
                        - 3047
                        - 3052
                        - 3066
                        - 3079
                        - 4561
                        - 4563
                        - 4566
                        - 4579
                        - 7229
                        - 7232
                        - 7241
                        - 7242
                        - 7255
                        - 7256
                        - 7259
                        - 7262
                        - 7266
                        - 6971
                        - 3736
                        - 6165
                        - 6207
                        - 4580
                        - 4826
                        - 4844
                        - 4595
                        - 4602
                        - 4619
                        - 3315
                        - 3314
                        - 3317
                        - 3322
                        - 3340
                        - 5094
                        - 3357
                        - 3361
                        - 5834
                        - 5098
                        - 5102
                        - 5100
                        - 5103
                        - 5108
                        - 5109
                        - 5111
                        - 5321
                        - 5332
                        - 5336
                        - 5339
                        - 5353
                        - 5960
                        - 5962
                        - 5366
                        - 5381
                        - 5294
                        - 5933
                        - 5945
                        - 2228
                        - 3603
                        - 3156
                        - 7340
                        - 3185
                        - 5183
                        - 3377
                        - 3385
                        - 7190
                        - 7221
                        - 7224
                        - 3420
                        - 3426
                        - 3424
                        - 3443
                        - 3449
                        - 5840
                        - 5848
                        - 5852
                        - 2718
                        - 3870
                        - 3881
                        - 3882
                        - 5364
                        - 5384
                        - 5838
                        - 5837
                        - 5122
                        - 5140
                        - 6500
                        - 7342
                        - 5267
                        - 4220
                        - 5013
                        - 3622
                        - 5829
                        - 840
                        - 3880
                        - 4432
                        - 7177
                        - 5695
                        - 2699
                        - 3871
                        - 3452
                        - 3479
                        - 3494
                        - 5895
                        - 3859
                        - 4692
                        - 5908
                        - 2190
                        - 2224
                        - 1785
                        - 4124
                        - 4127
                        - 4135
                        - 5613
                        - 5615
                        - 4464
                        - 4466
                        - 4473
                        - 4478
                        - 8748
                        - 4437
                        - 4666
                        - 4674
                        - 4691
                        - 5782
                        - 5794
                        - 5827
                        - 4046
                        - 4048
                        - 4056
                        - 4057
                        - 5061
                        - 5073
                        - 5005
                        - 4659
                        - 4756
                        - 5760
                        - 5831
                        - 5939
                        - 5955
                        - 5967
                        - 6942
                        - 6973
                        - 3084
                        - 4706
                        - 5152
                        - 5106
                        - 5110
                        - 5314
                        - 5323
                        - 4385
                        - 4468
                        - 4210
                        - 5623
                        - 5684
                        - 5699
                        - 5982
                        - 5988
                        - 6159
                        - 5328
                        - 5434
                        - 5125
                        - 606
                        - 4104
                        - 4197
                        - 4280
                        - 7345
                        - 7349
                        - 5846
                        - 5863
                        - 5885
                        - 4517
                        - 4519
                        - 6548
                        - 6563
                        - 6531
                        - 6808
                        - 6851
                        - 6876
                        - 1325
                        - 5206
                        - 5229
                        - 4645
                        - 4648
                        - 5426
                        - 5903
                        - 5907
                        - 5915
                        - 5921
                        - 5928
                        - 4154
                        - 4302
                        - 4114
                        - 4470
                        - 4490
                        - 4494
                        - 8746
                        - 5758
                        - 5726
                        - 783
                        - 5952
                        - 5953
                        - 6166
                        - 5304
                        - 5310
                        - 4375
                        - 4380
                        - 4391
                        - 4390
                        - 4434
                        - 4180
                        - 7279
                        - 7288
                        - 7307
                        - 4555
                        - 4560
                        - 352
                        - 473
                        - 3600
                        - 7218
                        - 6798
                        - 3359
                        - 7004
                        - 4145
                        - 7235
                        - 7254
                        - 7263
                        - 2900
                        - 2905
                        - 2906
                        - 478
                        - 1693
                        - 1824
                        - 1826
                        - 898
                        - 1922
                        - 1933
                        - 5081
                        - 5093
                        - 5338
                        - 5354
                        - 5176
                        - 5256
                        - 5265
                        - 2138
                        - 1930
                        - 3561
                        - 1918
                        - 1963
                        - 2226
                        - 2232
                        - 2236
                        - 1983
                        - 1990
                        - 2008
                        - 792
                        - 554
                        - 4455
                        - 4542
                        - 4559
                        - 4577
                        - 2317
                        - 2319
                        - 956
                        - 977
                        - 3015
                        - 3049
                        - 3085
                        - 3087
                        - 3138
                        - 3141
                        - 3146
                        - 3155
                        - 3161
                        - 3162
                        - 2685
                        - 2686
                        - 2689
                        - 4275
                        - 3441
                        - 3493
                        - 3509
                        - 3530
                        - 3392
                        - 5062
                        - 2681
                        - 4100
                        - 4105
                        - 5865
                        - 5874
                        - 5892
                        - 5897
                        - 5913
                        - 2583
                        - 4759
                        - 4800
                        - 6745
                        - 6788
                        - 7269
                        - 7285
                        - 5008
                        - 5010
                        - 5007
                        - 5021
                        - 7425
                        - 7317
                        - 7321
                        - 7347
                        - 7357
                        - 3719
                        - 3740
                        - 2499
                        - 3642
                        - 3677
                        - 503
                        - 446
                        - 1452
                        - 4314
                        - 4324
                        - 4363
                        - 4366
                        - 4367
                        - 4373
                        - 1974
                        - 6532
                        - 3723
                        - 6555
                        - 6557
                        - 6577
                        - 6578
                        - 6583
                        - 6587
                        - 6590
                        - 6592
                        - 5475
                        - 5495
                        - 5601
                        - 5609
                        - 5624
                        - 5938
                        - 6588
                        - 6599
                        - 5634
                        - 5648
                        - 5656
                        - 5659
                        - 5665
                        - 5675
                        - 5722
                        - 5738
                        - 4199
                        - 5130
                        - 5195
                        - 5205
                        - 1067
                        - 1078
                        - 8752
                        - 8759
                        - 8827
                        - 747
                        - 3157
                        - 4388
                        - 6174
                        - 5467
                        - 5207
                        - 1779
                        - 2518
                        - 2523
                        - 3855
                        - 5925
                        - 4188
                        - 3442
                        - 6176
                        - 7180
                        - 4452
                        - 5383
                        - 5804
                        - 5393
                        - 6233
                        - 5279
                        - 5255
                        - 5271
                        - 5290
                        - 5305
                        - 4614
                        - 4618
                        - 4621
                        - 5322
                        - 5327
                        - 5340
                        - 5349
                        - 5131
                        - 5132
                        - 3988
                        - 4159
                        - 4160
                        - 4167
                        - 4169
                        - 4293
                        - 5357
                        - 5365
                        - 5249
                        - 3013
                        - 2267
                        - 2227
                        - 4174
                        - 3491
                        - 5958
                        - 5979
                        - 5981
                        - 5984
                        - 4146
                        - 4150
                        - 4175
                        - 4204
                        - 3199
                        - 2139
                        - 3862
                        - 2184
                        - 5178
                        - 5179
                        - 5201
                        - 5200
                        - 5213
                        - 4652
                        - 4667
                        - 4672
                        - 4821
                        - 5790
                        - 5792
                        - 5226
                        - 5230
                        - 5248
                        - 8396
                        - 5451
                        - 5453
                        - 6813
                        - 6178
                        - 6209
                        - 6396
                        - 3341
                        - 2398
                        - 6170
                        - 7233
                        - 7240
                        - 7334
                        - 3074
                        - 4469
                        - 3605
                        - 4443
                        - 5755
                        - 3166
                        - 5421
                        - 3504
                        - 5148
                        - 3095
                        - 3099
                        - 3105
                        - 3126
                        - 3129
                        - 3130
                        - 3168
                        - 8377
                        - 3172
                        - 3176
                        - 3190
                        - 3266
                        - 3275
                        - 3291
                        - 9894
                        - 9919
                        - 3521
                        - 1583
                        - 3292
                        - 3419
                        - 2952
                        - 6937
                        - 6941
                        - 6323
                        - 5605
                        - 5610
                        - 5611
                        - 5627
                        - 5637
                        - 5655
                        - 5654
                        - 5664
                        - 2057
                        - 3327
                        - 1670
                        - 7337
                        - 3330
                        - 5646
                        - 7315
                        - 385
                        - 480
                        - 482
                        - 5996
                        - 6000
                        - 6786
                        - 6171
                        - 6177
                        - 6179
                        - 5741
                        - 5740
                        - 5089
                        - 5816
                        - 5817
                        - 5828
                        - 5855
                        - 7043
                        - 7072
                        - 7099
                        - 7127
                        - 2332
                        - 596
                        - 5324
                        - 5276
                        - 5281
                        - 6968
                        - 6975
                        - 5614
                        - 5618
                        - 5619
                        - 5629
                        - 5633
                        - 5635
                        - 5639
                        - 5638
                        - 5640
                        - 5643
                        - 5653
                        - 5657
                        - 5658
                        - 5661
                        - 5663
                        - 5286
                        - 5600
                        - 5602
                        - 5604
                        - 5606
                        - 5608
                        - 2020
                        - 1336
                        - 1992
                        - 5257
                        - 2393
                        - 2395
                        - 4233
                        - 2419
                        - 2431
                        - 5963
                        - 5970
                        - 5973
                        - 5980
                        - 5991
                        - 5990
                        - 5993
                        - 5994
                        - 2109
                        - 2156
                        - 2636
                        - 2451
                        - 4686
                        - 4700
                        - 4586
                        - 4585
                        - 4596
                        - 4603
                        - 4605
                        - 2054
                        - 2531
                        - 2536
                        - 5436
                        - 5440
                        - 1138
                        - 4661
                        - 5670
                        - 5678
                        - 5683
                        - 5689
                        - 5691
                        - 5694
                        - 5700
                        - 4308
                        - 1917
                        - 4139
                        - 4141
                        - 4142
                        - 4147
                        - 4155
                        - 4354
                        - 4357
                        - 2558
                        - 5702
                        - 5704
                        - 5725
                        - 6287
                        - 3466
                        - 3469
                        - 3650
                        - 3653
                        - 3727
                        - 3743
                        - 3745
                        - 4498
                        - 4504
                        - 4513
                        - 4518
                        - 4516
                        - 4525
                        - 4747
                        - 4757
                        - 4762
                        - 6398
                        - 6459
                        - 2659
                        - 3457
                        - 4196
                        - 4211
                        - 4213
                        - 4218
                        - 5737
                        - 5739
                        - 5744
                        - 5759
                        - 5769
                        - 3844
                        - 3845
                        - 3846
                        - 3787
                        - 3793
                        - 4415
                        - 4421
                        - 4425
                        - 4617
                        - 4626
                        - 4628
                        - 5773
                        - 5774
                        - 5776
                        - 5778
                        - 5780
                        - 5784
                        - 5789
                        - 5791
                        - 4654
                        - 4655
                        - 4657
                        - 4669
                        - 4673
                        - 1084
                        - 5040
                        - 5043
                        - 5047
                        - 5009
                        - 5032
                        - 5072
                        - 5077
                        - 5086
                        - 1979
                        - 2031
                        - 2043
                        - 5490
                        - 2044
                        - 4179
                        - 4178
                        - 4182
                        - 4184
                        - 4189
                        - 4193
                        - 2585
                        - 1906
                        - 2633
                        - 2657
                        - 3545
                        - 4676
                        - 3152
                        - 3153
                        - 3160
                        - 2039
                        - 2092
                        - 4426
                        - 4441
                        - 4453
                        - 3011
                        - 3019
                        - 3022
                        - 3024
                        - 3023
                        - 3026
                        - 5217
                        - 5221
                        - 5224
                        - 5227
                        - 5459
                        - 5464
                        - 2742
                        - 2745
                        - 2744
                        - 2747
                        - 3124
                        - 3127
                        - 3128
                        - 3132
                        - 3135
                        - 3140
                        - 3142
                        - 3144
                        - 3145
                        - 6943
                        - 6953
                        - 3287
                        - 3579
                        - 3598
                        - 3599
                        - 7313
                        - 7320
                        - 7362
                        - 4371
                        - 4376
                        - 4491
                        - 6849
                        - 8331
                        - 3252
                        - 3276
                        - 6960
                        - 6966
                        - 6967
                        - 7299
                        - 7308
                        - 7310
                        - 7309
                        - 7206
                        - 2161
                        - 4117
                        - 4122
                        - 4128
                        - 4134
                        - 4136
                        - 4133
                        - 4138
                        - 4140
                        - 4177
                        - 3899
                        - 5291
                        - 1844
                        - 6470
                        - 6574
                        - 3614
                        - 3959
                        - 5198
                        - 5202
                        - 1616
                        - 3646
                        - 3703
                        - 1808
                        - 116
                        - 1684
                        - 1857
                        - 3617
                        - 1921
                        - 1920
                        - 2666
                        - 2743
                        - 2776
                        - 2801
                        - 1821
                        - 5004
                        - 2815
                        - 2826
                        - 2773
                        - 2866
                        - 2875
                        - 2876
                        - 2898
                        - 3082
                        - 3083
                        - 3094
                        - 3098
                        - 3100
                        - 3104
                        - 3147
                        - 2947
                        - 2965
                        - 2975
                        - 2981
                        - 1697
                        - 1258
                        - 2264
                        - 1701
                        - 2286
                        - 2288
                        - 2291
                        - 1587
                        - 1562
                        - 1713
                        - 1715
                        - 2571
                        - 2568
                        - 2632
                        - 2621
                        - 2546
                        - 2551
                        - 2556
                        - 2974
                        - 2977
                        - 2995
                        - 2997
                        - 3001
                        - 2998
                        - 3000
                        - 2118
                        - 1046
                        - 1919
                        - 1816
                        - 2590
                        - 2594
                        - 2598
                        - 2603
                        - 2604
                        - 5805
                        - 5818
                        - 5819
                        - 5820
                        - 5822
                        - 5824
                        - 5826
                        - 5832
                        - 3414
                        - 2648
                        - 3547
                        - 3562
                        - 3563
                        - 3574
                        - 1751
                        - 2940
                        - 1755
                        - 1756
                        - 2954
                        - 2254
                        - 3613
                        - 3637
                        - 10
                        - 3651
                        - 3661
                        - 3704
                        - 626
                        - 1119
                        - 1374
                        - 841
                        - 411
                        - 3450
                        - 3455
                        - 829
                        - 830
                        - 2487
                        - 2495
                        - 2507
                        - 311
                        - 2989
                        - 3010
                        - 3012
                        - 3025
                        - 3043
                        - 1189
                        - 3179
                        - 3184
                        - 2530
                        - 210
                        - 5697
                        - 4053
                        - 5149
                        - 5182
                        - 6936
                        - 2488
                        - 6263
                        - 5135
                        - 5297
                        - 2442
                        - 3051
                        - 3064
                        - 3090
                        - 3117
                        - 3131
                        - 3134
                        - 3133
                        - 3139
                        - 3143
                        - 3154
                        - 3164
                        - 3173
                        - 3175
                        - 1365
                        - 1550
                        - 3713
                        - 1546
                        - 1559
                        - 1576
                        - 895
                        - 1471
                        - 1482
                        - 1501
                        - 2887
                        - 283
                        - 2731
                        - 4431
                        - 7137
                        - 2741
                        - 3512
                        - 232
                        - 4589
                        - 4198
                        - 7205
                        - 2328
                        - 6172
                        - 3338
                        - 3050
                        - 2538
                        - 2553
                        - 2555
                        - 2867
                        - 525
                        - 2979
                        - 2984
                        - 957
                        - 6390
                        - 5716
                        - 3411
                        - 7209
                        - 6962
                        - 6585
                        - 2041
                        - 2052
                        - 2009
                        - 2076
                        - 293
                        - 5180
                        - 4545
                        - 1095
                        - 1869
                        - 1876
                        - 1877
                        - 1615
                        - 1610
                        - 1887
                        - 1895
                        - 951
                        - 1013
                        - 2203
                        - 2144
                        - 2167
                        - 2401
                        - 2418
                        - 2433
                        - 2373
                        - 2390
                        - 2391
                        - 2392
                        - 2394
                        - 2396
                        - 2406
                        - 1786
                        - 2409
                        - 2422
                        - 44
                        - 2450
                        - 2865
                        - 2868
                        - 2877
                        - 2878
                        - 2880
                        - 2885
                        - 2835
                        - 2840
                        - 2841
                        - 3542
                        - 3544
                        - 3593
                        - 3594
                        - 3604
                        - 2816
                        - 3508
                        - 3517
                        - 3519
                        - 3524
                        - 893
                        - 3606
                        - 3615
                        - 3990
                        - 2899
                        - 2907
                        - 2915
                        - 2917
                        - 2916
                        - 2858
                        - 3629
                        - 3654
                        - 3803
                        - 3817
                        - 7174
                        - 2414
                        - 7162
                        - 6243
                        - 5427
                        - 7222
                        - 4445
                        - 6586
                        - 4264
                        - 986
                        - 996
                        - 5059
                        - 5119
                        - 5378
                        - 2919
                        - 2930
                        - 1159
                        - 4670
                        - 5754
                        - 3628
                        - 1843
                        - 5645
                        - 3892
                        - 3071
                        - 5468
                        - 4524
                        - 7251
                        - 4054
                        - 4413
                        - 5308
                        - 3635
                        - 7062
                        - 7329
                        - 6814
                        - 3638
                        - 5014
                        - 7304
                        - 5622
                        - 5734
                        - 3724
                        - 5452
                        - 3072
                        - 5815
                        - 567
                        - 7146
                        - 4148
                        - 5767
                        - 6264
                        - 6167
                        - 3110
                        - 920
                        - 5408
                        - 6828
                        - 7296
                        - 3069
                        - 607
                        - 617
                        - 5367
                        - 5923
                        - 3299
                        - 5318
                        - 5107
                        - 6226
                        - 7098
                        - 4528
                        - 4157
                        - 5746
                        - 2870
                        - 2150
                        - 2163
                        - 3301
                        - 2640
                        - 2177
                        - 2830
                        - 3885
                        - 4607
                        - 4848
                        - 998
                        - 4591
                        - 5372
                        - 3577
                        - 3375
                        - 3913
                        - 2090
                        - 2099
                        - 6850
                        - 6340
          description: Successfully returns Stores information for the given country
            code and Centre Managed flag.
        '204':
          description: No Content is returned when there is no data for the given
            country code and Centre Managed flag.
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
          description: Bad Request is returned when one or many given criteria are
            of wrong data type or value.
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
          description: Internal Server Error is returned in case there is a connectivity
            issue with the dependent resource or the dependent resource itself throws
            some exception.
      operationId: getLocationNumberByCenterManaged
      summary: Fetches all stores information for a given country for centre Managed
      description: Fetch all stores information using country code and Centre Managed
        flag
  "/{countryCode}/location/departmentNumber/{departmentNumber}":
    summary: Represents all stores information for a department in a country.
    description: Represents all stores information for a department in a country.
    get:
      tags:
        - location-controller
      parameters:
        - examples:
            Canada:
              value: CA
            USA:
              value: US
          name: countryCode
          description: Standard country code. Example US = USA, CA = Canada
          schema:
            type: string
          in: path
          required: true
        - examples:
            Department number:
              value: '98'
          name: departmentNumber
          description: Department number.
          schema:
            format: int32
            type: integer
          in: path
          required: true
        - name: f
          description: 'Comma separated list of fields that will be returned in the
          response. For example: f=locationNbr,name'
          schema:
            type: string
          in: query
          required: false
        - name: offset
          description: Zero based index of number of records to skip from start. If
            not mentioned, it is considered zero.
          schema:
            format: int64
            type: integer
          in: query
          required: false
        - name: page
          description: Results page you want to retrieve (0..N). If offset is specified,
            it will be considered too. If not specified, all pages in the result set
            will be considered.
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - name: pageNumber
          description: Zero based index of page to fetch. If offset is provided, that
            too will be considered.
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - name: pageSize
          description: Specifies number of records per page.
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - name: paged
          description: Pass 'true' to request paged information.
          schema:
            type: boolean
          in: query
          required: false
        - name: size
          description: Specifies total/max number of records to fetch.
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - style: form
          explode: true
          name: sort
          description: 'Sorting criteria in the format: property(,asc|desc). Default
          sort order is ascending. Multiple sort criteria are supported.'
          schema:
            type: array
            items:
              type: string
          in: query
          required: false
        - name: sort.sorted
          description: If passed 'true', the sorting criteria mentioned in parameter
            'sort' is applied.
          schema:
            type: boolean
          in: query
          required: false
        - name: sort.unsorted
          schema:
            type: boolean
          in: query
          required: false
        - name: unpaged
          schema:
            type: boolean
          in: query
          required: false
        - examples:
            Name of the producer application:
              value: AP-FDS-LOCATIONS-API
          name: WM_SVC.NAME
          description: "Unique name ( application key name) of the producer application
          as registered in the service registry portal \n( https://reg.soa.walmart.com).\nConsumer
          applications have to get a subscription to this producer application in
          the service registry portal.\nThe actual producer application will have
          a sidecar deployment of service mesh proxy along with it.\nHence all the
          consumers need to pass the mandatory headers and get authorization and authentication
          to reach the application.\n\nThis header is required in all the environments."
          schema:
            type: string
          in: header
          required: true
        - examples:
            Environment name of the producer application:
              value: prod
          name: WM_SVC.ENV
          description: |
            Name of the environment of the producer application in the service registry portal to which consumer application is subscribed to.
            For each environment which has to be deployed, an environment is created in service registry portal and same is used to configure the sidecar proxy deployment.
            As the subscription in service mesh is environment specific; this is a mandatory parameter in all the environments.

            Note:
            Consumers have to pass enviroments according to their subscription. For example if the dev environment of the consumer application is having a subscription to stage environment of the producer application; then only from dev environment of the consumer application stage environment of the producer can be called by passing the WM_SVC.ENV value as stage.
          schema:
            type: string
          in: header
          required: true
        - examples:
            Consumer Id of consumer application in a specific environment:
              value: 3fa1e5b2-6c55-4d0f-8ae5-634dbbb723432
          name: WM_CONSUMER.ID
          description: |
            Consumer Id in the consumer application from which it has a subscription to the environment (value of WM_SVC.ENV) of the producer application.

            Consumer Id can be created in the service registry portal with ssh public key.
            A unique string will be generated for the given public key.

            If a consumer application in dev environment(with consumer Id = 3fa1e5b2-6c55-4d0f-8ae5-634dbbb723242) have a subscription to stage environment of the producer application ( AP-FDS-LOCATIONS-API), then there will be an entry created in the service registry database as AP-FDS-LOCATIONS-API/stage/3fa1e5b2-6c55-4d0f-8ae5-634dbbb723242

            Hence when the consumer pass these 3 headers, it will match with the entry in the database; hence the request will be authorized.

            This is a mandatory header in all the environments.
          schema:
            type: string
          in: header
          required: true
        - examples:
            Version of the consumer Id:
              value: '1'
          name: WM_SEC.KEY_VERSION
          description: |-
            Key version of the consumer Id as per the service registry portal.
            This is autogenerated field when consumer Id is created.

            This is a mandatory header in stage & prod environments as the signature authentication is in place.
          schema:
            type: integer
          in: header
          required: true
        - examples:
            Timestamp at the time of signature generation:
              value: '1596901065233'
          name: WM_CONSUMER.INTIMESTAMP
          description: |-
            Timestamp in epoch at the time of signature generation.
            As the generated signature expires every 5 mins, timestamp field has to be passed with the signature for the validation.

            This is a mandatory field for stage & prod environments as the signature authentication is in place.
          schema:
            type: integer
          in: header
          required: true
        - examples:
            Sample signature:
              value: jMXoVjlgcSTwSifCzQ1CM88/ZtzIG49Ec2xy5yUWKfh/42+XN8U9ROd/kj6W/kRqWoU+vtZQrkSovyaV6WkxqK62AGjqXmiVqcyfRZmmrOne80QlrJ2j7MjXv+rhoYf0qvGCTu1S3xMsLN3rh0FtoM4v6TO/Iy7C+RqOxCx7C39NWzsfQlzix7WdxRk59ancuULqo3bL5fF2JfjubLDoD5zahtIBF1amDJFco/e1MOQ1Zamf6HGxMZI20epq0m1CCcEGhFh+kDpniyKbPVsG5EEaAmrCMpvGvrk4ZR+lKvb3J1Flkt4dmDYgknoR1QVqEH9vx6LAZef6phM46aTFiQ==
          name: WM_SEC.AUTH_SIGNATURE
          description: |-
            Generated signature for authentication.
            Signature is generated based on private key, consumer Id and the key version.

            As the public key is available in service registry portal ( as we have generated consumer Id by submitting ssh public key), generated signature will be decoded by public key and validated using RSA algorithm.
            Signature will be valid for 5 mins, so that after every 5 mins signature should be regenerated for the new requests.

            This is a mandatory header to be passed in stage & prod environments as the signature authetication is in place.
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LocationResponse"
              examples:
                Department Number 98:
                  value:
                    success: true
                    timestamp: '2020-10-06 12:36:17'
                    data:
                      - id: US1526
                        locationNbr: 1526
                        name: STORM LAKE IA
                        openDate: '1990-04-02'
                        streetAddress: 1831 LAKE AVE
                        city: STORM LAKE
                        stateProvinceCode: IA
                        stateProvinceId: 15
                        stateProvince: IOWA
                        postalCode: 50588-7606
                        country: US
                        timeZoneId: America/Chicago
                        timeZoneCode: CDT
                        glnNumbers:
                          - '0078742014937'
                        timeZoneDSTObservable: true
                        logisticalCountryCode: US
                        type: Retail
                        typeCode: 100001
                        statusCode: 5
                        status: OLD, MORE THAN 13 MONTHS SINCE RE-GRAND
                        buID: 295634
                        tempStoreFlag: false
                        languageCode: 101
                        bannerCode: A1
                        bannerDesc: WM Supercenter
                        currencyCode: USD
                        replenishmentTypeCode: U
                        phoneNbr: '7127327940'
                        baseDivisionCode: 1
                        homeStoreNbr: 1361
                        isSalesCompable: true
                        isOpenSunday: true
                        merchandiseMajorZoneNbr: 80
                        merchandiseSubZoneNbr: 85
                        expansionSize: 65930
                        grossSize: 157131
                        lastUpdatedUser: RDC_LOAD
                        marketName: RETAIL MARKET 426
                        regionName: NE/ IA/ NE KS
                        latitude: 42.663322
                        longitude: -95.197507
                        formatDescription: Hypermarket
                        divisions:
                          - divisionNbr: 1
                            divisionDesc: WAL-MART STORES INC.
                            typeCode: 1
                            type: INCOME DIVISION
                            openDate: '1990-03-31'
                            statusCode: 1
                            regionCode: 51
                            subRegionCode: 99
                            marketCode: 426
                            baseDivisionCode: 1
                            subDivisionCode: M
                            subDivisionName: WEST BU
                            businessUnitOrgAreaCode: 2
                            lastUpdatedTimestamp: '2020-06-03'
                            lastUpdatedUser: HRM DATA
                            storeCode3: C
                            companyCode: WMW
                            taxReportCode: 110
                            reportCode: SC
                            deleteCode: A
                            shrinkPctCost: 0
                            shrinkRetailPct: 0
                            departments:
                              - departmentNbr: 2
                                departmentDesc: HEALTH & BEAUTY AIDS
                              - departmentNbr: 3
                                departmentDesc: STATIONERY & PARTY GOODS
                              - departmentNbr: 4
                                departmentDesc: PAPER GOODS
                              - departmentNbr: 5
                                departmentDesc: MEDIA & GAMING
                              - departmentNbr: 7
                                departmentDesc: TOYS & HOBBIES
                              - departmentNbr: 8
                                departmentDesc: PETS & SUPPLIES
                              - departmentNbr: 9
                                departmentDesc: SPORTING GOODS
                              - departmentNbr: 11
                                departmentDesc: HARDWARE
                              - departmentNbr: 12
                                departmentDesc: PAINT & ACCESS
                              - departmentNbr: 13
                                departmentDesc: HOUSEHOLD CHEMICALS
                              - departmentNbr: 14
                                departmentDesc: COOK & DINE
                              - departmentNbr: 16
                                departmentDesc: LAWN & GARDEN
                              - departmentNbr: 17
                                departmentDesc: CANDLES/HOME DECOR
                              - departmentNbr: 18
                                departmentDesc: SEASONAL
                              - departmentNbr: 19
                                departmentDesc: FABRICS & CRAFTS
                              - departmentNbr: 20
                                departmentDesc: BATH & SHOWER
                              - departmentNbr: 21
                                departmentDesc: BOOK & MAGAZINES
                              - departmentNbr: 22
                                departmentDesc: BEDDING
                              - departmentNbr: 23
                                departmentDesc: MENS WEAR
                              - departmentNbr: 24
                                departmentDesc: BOYS WEAR
                              - departmentNbr: 26
                                departmentDesc: INFANTS WEAR
                              - departmentNbr: 27
                                departmentDesc: SOCKS
                              - departmentNbr: 28
                                departmentDesc: HOSIERY
                              - departmentNbr: 29
                                departmentDesc: LADIES UNDERWEAR
                              - departmentNbr: 30
                                departmentDesc: FOUNDATIONS
                              - departmentNbr: 31
[...]
